*{ box-sizing: border-box;
    }

body {
    background-color: aliceblue;
    margin: 0;
    overflow-x: hidden;
}


.nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.busqueda {
    display: flex;
    gap: 25px;
}

.busqueda a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.icon {
    color: aliceblue;
}

.titulo{
    text-align: center;
}

.locales{
    display: flex;
    justify-content: center;
    gap: 25px;
}    


.tipos{
    background-color: rgb(184, 171, 171);
    padding: 25px;
    max-width: 250px;
    }

.tipos img{
    width: 100%;
    height: 150px;
    }

.tipos h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.tipos h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.cosas{
    display: flex;
    background-color: black;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

.texto h1 {
    color: aliceblue;
}

.texto h2 {
    color: aliceblue;
}

.texto p {
    color: aliceblue;
    width: 300px;
}

.ejercicio{
    width: 350px;
}

.ejercicio img{
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton{
    background-color: green;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: rgb(49, 199, 35) solid;
    border-radius: 5px;
}

.Porduct {
    text-align: center;
    background-color: #f0f7ff;
}

.Porduct h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ropa {
    width: 200px;
    background: black;
    padding: 15px;
    text-align: center;
    color: white;
}

.ropa img {
    width: 100%;
    height: 220px;
}

.ropa h3 {
    margin-top: 10px;
    color: black;
    background: white;
    border-radius: 8px;
}

.ropa p {
    color: black;
    background: white;
    border-radius: 5px;
}

.fotos {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #f0f7ff;
}

.fotos img {
    width: 300px;
    height: 200px;
}

.negro{
    margin-top: 35px;
    background-color: black;
    width: 100%;
    height: 350px;
}
